#main {
  display: grid;
}

section {
  margin-bottom: 3rem;
  /* width: 80%; */
}

#item_category_info {
  display: grid;
  margin: 1.5rem 0rem;
  margin-bottom: 0.5rem;
}

#current_category {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.btn_minimal {
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.318);
  padding: 0.5rem 1.4rem;
  transition: color 0.3s, background-color 0.3s;
}
.btn_minimal:hover {
  color: white;
  background-color: black;
}

#filter_head {
  margin-right: 1rem;
}

/* Items Section */
#items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 850px) {
  #items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  #items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  #items {
    grid-template-columns: repeat(2, 1fr);
  }
}