/* Bestsellers Section */
#bestsellers {
    display: grid;
    justify-items: center;
  }
  
  #bestsellers > h1 {
    padding: 4rem 0rem;
  
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
  }
  
  #bestseller_card_wrapper {
    display: flex;
    justify-content: space-between;
  
    width: 100%;
  }