/* categories Section */
#categories {
  display: grid;
  justify-items: center;
}

#categories > h1 {
  padding: 4rem 0rem;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

#category_card_wrapper {
  display: flex;
  justify-content: space-between;

  width: 90%;
}
