#card {
    /* height: 33rem; */
    width: 22rem;

    display: grid;
    justify-items: center;
    overflow: hidden;

    transition: transform var(--primary-transition-timing);
}

#card:hover {
    transform: scale(var(--primary-transition-image-scale));
}

#image_wrapper {
    height: 30rem;
    overflow: hidden;
    border-radius: 1%;
}

#image_wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card > span {
    text-align: center;
}